*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: rgb(255, 255, 195);
}
.main{
  
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 5rem;
  border-radius: 10px;
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(41, 41, 41);
  padding: 1rem;
}

h1{
  color: yellow;
}

.update-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input{
  padding: 0.9rem;
  width: 300px;
  border-radius: 10px;
  border: none;

}

button{
  cursor: pointer;
}

.btn{
  width: 200px;
  padding: 0.6rem;
  border-radius: 8px;
  background-color: yellow;
  border: none;
}

ul{
  list-style: none;
}

li{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

li p{
  width: 100px;
  font-size: 1.3rem;
  color: white;
}

li button{
  padding: 0.5rem;
  border-radius: 8px;
  color: white;
  border: none;
}

li .delete-btn{
  background-color: green;
}

li .update-btn{
  background-color: blue;
}

